# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
build/
dist/
*.zip

# logs
logs/

# admin runtime data
/admin-backend/db.json
/admin-backend/site-settings.json
/admin-backend/uploads
/admin-backend/data
/admin-api/data

# misc
.DS_Store
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
