NODE_ENV=production
PORT=3000
FRONTEND_URL=https://musing-hopper.161-0-125-69.plesk.page
RECAPTCHA_SECRET_KEY=
EMAILJS_PRIVATE_KEY=
JWT_SECRET=REEMPLAZAR_SECRET_LARGO_RANDOM
ADMIN_USER=admin
ADMIN_PASSWORD=REEMPLAZAR_PASSWORD_ADMIN
ADMIN_SECRET=REEMPLAZAR_SECRET_LARGO_RANDOM
ADMIN_ALLOWED_ORIGIN=https://musing-hopper.161-0-125-69.plesk.page,https://huelmoseguros.com.uy,https://www.huelmoseguros.com.uy
PUBLIC_API_URL=https://apin.huelmolabs.com.uy
DATA_DIR=data
ADMIN_DATA_DIR=data
UPLOADS_DIR=uploads
MAX_UPLOAD_BYTES=5242880
